/* style="font-size: 24px; font-weight: bold; margin: 140px" */

body.lock {
  overflow-y: hidden;
}

.prison {
  height: 100vh;
  overflow-y: hidden;
}

.cell {
  padding-inline: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cell h6 {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  padding: 20px 100px 140px 100px;
}

.cell h5 {
  font-size: 92px;
  font-weight: bold;
  line-height: 64px;
  margin-bottom: 140px;
}

.cell a {
  padding: 12px 16px 16px 16px;
  font-size: 48px;
  font-weight: 500;
  color: rgb(73, 73, 73);
}

.cell a:hover {
  text-decoration: underline;
}

.cell a:active {
  background-color: black;
  color: white;
  padding: 12px 16px 16px 16px;
  text-decoration: none;
}

.cell p {
  font-size: 24px;
  font-weight: 200;
  color: rgb(73, 73, 73);
}

@media (max-width: 700px) {
  .cell h6 {
    font-size: 28px;
    line-height: 48px;
    padding: 20px 20px 88px 20px;
  }
  .cell h5 {
    font-size: 60px;
    margin-bottom: 60px;
  }
  .cell a {
    font-size: 30px;
  }
  .cell p {
    font-size: 18px;
  }
}
